main {
  width: 84vw;
  height: 112vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #1D2C49;
  padding: 3vw;
}


@media screen and (min-width: 580px) {
  main {
    height: 80vh;
    width: 60vh;
    padding: 2.15vh;
  }
}

@media screen and (orientation: landscape) {
  main {
    height: 80vh;
    width: 60vh;
    padding: 2.15vh;
  }
}