button {
  border: none;
  font-size: 7vw;
  /* font-weight: bold; */
}

@media screen and (min-width: 580px) {
  button {
    font-size: 5vh;
  }
}

@media screen and (orientation: landscape) {
  button {
    font-size: 5vh;
  }
}