.button-container {
  width: 100%;
  height: 70%;
  display: grid;
  grid-gap: 2vw;
  grid-template-areas:
    'clear clear backspace divide'
    'seven eight nine multiply'
    'four five six subtract'
    'one two three add'
    'zero zero zero equal';
}

@media screen and (min-width: 580px) {
  .button-container {
    grid-gap: 1.4vh;
  }
}

@media screen and (orientation: landscape) {
  .button-container {
    grid-gap: 1.4vh;
  }
}